/* adjust some new ng styles for old templates */


body.ms-ng-facelift div#CFCToolBarDiv {
	position: relative !important;
	margin-top: 0px !important;
}

div#ms-header,
div#ms-footer,
div#ms-navi-main,
div#ms-navi-main * {
	z-index: 100!important;
}

div#ms-footer {
	/*display: none; */
}

div#ms-header *, div#ms-header .nospace,
div#ms-footer *, div#ms-footer .nospace
 {
	padding: 0;
	margin: 0;
	border: 0;
}

div#ms-header ul.ms-navi { margin-left:265px; }

div#ms-header div, div#ms-header h1, div#ms-header h2, div#ms-header h3, div#ms-header h4,
div#ms-header h5, div#ms-header h6, div#ms-header p, div#ms-header a, div#ms-header span, li,
div#ms-footer div, div#ms-footer h1, div#ms-footer h2, div#ms-footer h3, div#ms-footer h4,
div#ms-footer h5, div#ms-footer h6, div#ms-footer p, div#ms-footer a, div#ms-footer span, li {
	background-repeat:no-repeat;
}
div#ms-header div {	background-repeat:repeat-x; }

div#ms-header img,
div#ms-footer img {
	vertical-align: bottom;
}

div#ms-header ul, div#ms-header ol,
div#ms-footer ul, div#ms-footer ol {
	list-style-position: outside;
}

div#ms-header li,
div#ms-footer li {
	list-style-type: none;
}

div#ms-footer a {
	color: #FFF !important;
}

div#ms-footer a.language_link_hover {
	color: #00adef !important;
	/* background-image:url(../pictures/bg_navi_meta_hover.gif);
	background-position: 0 -1px; */
}
div#ms-footer a:hover {
	/* color: #0082E6 !important; */
}

div#ms-footer a.foot_active {
	color: #0082E6 !important;
}


div#ms-header strong,
div#ms-footer strong {
	font-weight: bold;
}

div#ms-header select,
div#ms-header input,
div#ms-header textarea,
div#ms-footer select,
div#ms-footer input,
div#ms-footer textarea {
	font-size:1em;
}

div#ms-header p#ms-mb-title {
	color:#666666;
	font-size:10px;
}


div#ms-navi-home *,
div#ms-navi-meta *,
div#ms-navi-footer * {
	font-size: 10px;
}

div#ms-navi-home ul li a,
div#ms-navi-meta ul li a,
div#ms-navi-main ul li a {
	color:#FFF;
}

div#ms-navi-home ul li a:hover {
	color:#00ADEF !important;
}

div#ms-navi-meta ul li a:hover,
div#ms-navi-main ul li a:hover {
	color:#00ADEF !important;
}


div#ms-footer div#ms-footer dl dd ul li a,
div#ms-footer div#ms-footer dl dd ul li span  {
	color:#666 !important;
}

div#ms-footer div#ms-footer dl dd ul li a:hover,
div#ms-footer div#ms-footer dl dd ul li span {
	color:#0082E6 !important;
}

div#ms-header {
	position:relative;
	float: none;
	width: 992px;
}


/* overwrite old emb styles with new values */
#snv .c1 {background:#FFFFFF url(img/arrownav_off_66.gif) no-repeat; background-position:9px 7px;}
#snv .c2 {background:#FFFFFF url(../../../img/nav/arrownav_off_66.gif) no-repeat scroll 19px 7px;}
#snv .c3 {background:#FFFFFF url(../../../img/nav/arrownav_off_66.gif) no-repeat scroll 29px 7px;}
div#teasertarget a.txt-lnk {background: url(../../../img/nav/arrownav_off_66.gif) no-repeat 1px 5px;}
* html #snv a.navlink1,
* html #snv a.navlink2,
* html #snv a.navlink3,
* html #snv a.navlink4 {height: 0;}


#snv .c1d {background:#FFFFFF url(img/arrownav_off_66dw.gif) no-repeat; background-position:9px 7px; }
#snv .c2d {background:#FFFFFF url(img/arrownav_off_66dw.gif) no-repeat; background-position:19px 7px; }
#snv .c3d {background:#FFFFFF url(img/arrownav_off_66dw.gif) no-repeat; background-position:29px 7px; }


#snv .c1don {background:#FFFFFF url(img/arrownav_on_dw.gif) no-repeat; background-position:9px 7px;}
#snv .c2don {background:#FFFFFF url(img/arrownav_on_dw.gif) no-repeat; background-position:19px 7px;}
#snv .c3don {background:#FFFFFF url(img/arrownav_on_dw.gif) no-repeat; background-position:29px 7px;}


#snv .c1on {background:#FFFFFF url(img/arrownav_on.gif) no-repeat; background-position:9px 7px;}
#snv .c2on {background:#FFFFFF url(img/arrownav_on.gif) no-repeat; background-position:19px 7px;}
#snv .c3on {background:#FFFFFF url(img/arrownav_on.gif) no-repeat; background-position:29px 7px;}


#snv a.navlink1:hover {background:#ECECEC url(img/arrownav_on.gif) no-repeat 9px 7px;}
#snv a.navlink2:hover {background:#ECECEC url(img/arrownav_on.gif) no-repeat 19px 7px;}
#snv a.navlink3:hover {background:#ECECEC url(img/arrownav_on.gif) no-repeat 29px 7px;}
#snv #nav4-on {color: #00ADEF !important;}
#snv #nav4-on.tableheadlink:hover {background-image: none;}


a.dl-lnk,
.info a.dl-lnk {background: url(img/icon_dl.gif) no-repeat; background-position:1px 2px;}

a.dl-lnk:Hover,
.info a.dl-lnk:Hover {background: url(img/icon_dl_hi.gif) no-repeat; background-position:1px 2px;}

.td-lnk03,
.td-lnk04,
.td-lnk05
{
	background: none;
}

.td-lnk03 a,
.td-lnk04 a,
.td-lnk05 a,
a.txt-lnk,
div#teasertarget a.txt-lnk,
a.txt-lnk:visited,
a.txt-lnk:active,
a.hdl-lnk,
a.txt-lnk12,
a.txt-lnk12:visited,
a.txt-lnk12:active {background: url(img/link_arrow.gif) no-repeat 1px 5px;}

a.hdl-lnk:hover,
a.txt-lnk:hover,
a.txt-lnk12:hover,
.info a.txt-lnk:hover,
div#teasertarget a.txt-lnk:hover,
a.BreadGrey:hover,
a.BreadOrange,
.td-lnk03 a:hover,
.td-lnk04 a:hover,
.td-lnk05 a:hover,
a.nav16link:hover {background:url(img/link_arrow_hi.gif) no-repeat 1px 5px;}

div#snv,
div#cnt {
	top: 150px;
	width:240px;
	position:absolute;
}

div.ms-navi-main-fly-v1-2 div.ms-navi-main-fly-v1-2-right h3,
div.ms-navi-main-fly-v1-2 div.ms-navi-main-fly-v1-2-right p {
	font-size: 11px;
}
