/* allgemein */
body,p,td,ul,ol,li,th,nobr,b,i,select,input,font{
	font-family:Arial,Univers,Helvetica,sans-serif;
	font-size:12px;
	color:#666666;
}

#info				{}

.info p,.info td,.info ul,.info ol,.info li,.info nobr,.info b,.info i,.info select,.info input,.info font{font-size:11px; color:#333333;}

#info_app_app				{}
.info_app p,.info_app td,.info_app ol,.info_app nobr,.info_app b,.info_app i,.info_app select,.info_app input,.info_app font{font-size:11px; color:#333333;padding-bottom:10px;}



#TDL1 {}
.TDL1 td {font-family:Arial, Helvetica, sans-serif; font-size:11px; font-weight:normal; color:#333333;}

ul					{margin-left:17px;margin-top:0px;margin-bottom:0px; font-size:11px;}
li					{font-size:11px;}
.txt12	{font-size:12px;}
.txt11 {font-size:11px;}
.hl5 {font-family:Arial; font-size:12px; color:#666666; font-weight:bold; }
.hl9 {font-family:Arial; font-size:11px; color:#666666; font-weight:bold; }

b					{font-weight:bold; color:#666666; }
.tb-cnt a			{color:#527BB9; display:inline;}
.info b			{font-size:11px; font-weight:600; color:#666666; }

.mt					{margin-top:16px}
.mt20					{margin-top:120px}
.mt-sm				{margin-top:10px}

.hdl-bgr			{background-color:#F0F0F0;}

.img-txt			{padding-top:2px;}

.txt-sm			{font-size:11px; color:#333333}
.txt-sm12			{font-size:12px; color:#333333}

a.QuickAccess			{font-size:10px; text-decoration:none; color:#666666; display:block; }
a.QuickAccess:Hover	{font-size:10px; text-decoration:none; color:#FF6600; display:block; }

.info .tb-hdl			{background-color:#d0d0d0; color:#ffffff; font-weight:600}
.info .tb-txt			{background-color:#F0F0F0;}

.tb-brd				{background-color:#c1c1c1;}
.tb2-brd				{background-color:#e4e4e4;}

.tb-p				{padding-top:12px; padding-left:13px; padding-right:0px; padding-bottom:7px; } /*Nur in Overview Seiten*/
.tb2-p				{padding-top:4px; padding-left:5px; padding-right:0px; padding-bottom:4px; font-size:11px;}
.tb3-p				{font-size:12px; padding-left:6px; padding-right:6px;}
.tb2-p b			{font-size:11px;}

.men-r-m			{margin-top:1px; margin-left:9px;}
.men-r-line		{background-color:#C6C6C6;}

a.men-r			{font-size:11px;padding-left:0px; text-decoration:none; color:#527BB9;display:block;}
a.men-r-hi, a.men-r-hi:visited {font-size:11px;padding-left:0px; text-decoration:none; color:#FF6600; display:block;}
a.men-r-b, a.men-r-b:visited {font-size:11px;padding-left:0px; text-decoration:none; color:#333333; display:block;}

a.nav12
{
  font-size:11px;
  color:#333333;
}
a.nav12_selected
{
  font-size:11px;
  color:#FF6600;
}

#sl1-nav	{position:absolute; top:104px; left:170px; z-index:5}

#sl01	{position:absolute; top:0px; left:170px; width:600px; z-index:8}
#sl02	{position:absolute; top:0px; left:18px; width:752px; z-index:8}
#sl03	{
	position:absolute;
	top:0px;
	left:270px;
	width:580px;
	z-index:8;
}
#sl04	{position:absolute; top:0px; left:20px; width:750px; z-index:8}

/* ILIA */
.mt00				{margin-top:0px}
.mt01				{margin-top:1px}
.mt02				{margin-top:2px}
.mt03				{margin-top:3px}
.mt04				{margin-top:4px;}
.mt05				{margin-top:5px}
.mt06				{margin-top:6px}
.mt07				{margin-top:0px}
.mt08				{margin-top:8px}
.mt09				{margin-top:9px}
.mt10				{margin-top:10px}
.mt11				{margin-top:11px}
.mt12				{margin-top:12px}
.mt13				{margin-top:13px}
.mt14				{margin-top:14px}
.mt15				{margin-top:15px}
.mt16				{margin-top:16px}
.mt17				{margin-top:17px}
.mt18				{margin-top:18px}
.mt19				{margin-top:19px}
.mt20				{margin-top:20px}
.mt21				{margin-top:21px}
.mt22				{margin-top:22px}
.mt23				{margin-top:23px}
.mt24				{margin-top:24px}
.mt25				{margin-top:25px}
.mt26				{margin-top:26px}
.mt28				{margin-top:28px}
.mt30				{margin-top:30px}
.mt40				{margin-top:40px}
.mt10-mb13		{margin-top:10px;margin-bottom:13px}

.txt-b01 { color:#333333; }
.td-lnk03 {background: url(http://www.mercedes-benz.de/img/link_arrow.gif) no-repeat; background-position:1px 5px;}
.td-lnk03 a {padding:0px 2px 0px 0px; text-indent:11px; color:#527BB9; font-size:12px; text-decoration:none;display:block;}
.td-lnk03 a:hover {padding:0px 2px 0px 0px; text-indent:11px; background: url(http://www.mercedes-benz.de/img/link_arrow_hi.gif) no-repeat; background-position:1px 5px; font-size:12px; text-decoration:none; color:#FF6600; display:block;}
.td-cnw {text-indent:7px;background:url(http://www.mercedes-benz.de/img/nav/arrowsmall_on.gif) no-repeat; background-position:0px 4px; display:block;}

.td-lnk04 {background: url(http://www.mercedes-benz.de/img/link_arrow.gif) no-repeat; background-position:1px 5px;}
.td-lnk04 a {padding:0px 2px 0px 0px; text-indent:11px; color:#527BB9; font-size:11px; text-decoration:none;display:block;}
.td-lnk04 a:hover {padding:0px 2px 0px 0px; text-indent:11px; background: url(http://www.mercedes-benz.de/img/link_arrow_hi.gif) no-repeat; background-position:1px 5px; font-size:11px; text-decoration:none; color:#FF6600; display:block;}

.td-lnk05 {background: url(http://www.mercedes-benz.de/img/link_arrow_hi.gif) no-repeat; background-position:1px 5px;}
.td-lnk05 a {padding:0px 2px 0px 0px; text-indent:11px; color:#FF6600; font-size:11px; text-decoration:none;display:block;}

.tb-brd03				{background-color:#cccccc;}
td.td-error {color:#FF0000;}

.en1{
  font-size:12px;
  padding-left:4px;
}
.formerror
{
  color:#ff6600;
}

a.lnk5					{padding-left:10px; background:url(http://www.mercedes-benz.de/img/link_arrow.gif) no-repeat; background-position:1px 5px; font-size:12px; font-weight:600; text-decoration:none; color:#527BB9; display:block; }
a.lnk5:hover			{padding-left:10px; background:url(http://www.mercedes-benz.de/img/link_arrow_hi.gif) no-repeat; background-position:1px 5px; font-size:12px; font-weight:600; text-decoration:none; color:#FF6600; display:block; }



.grid-menu-bgr		{ background:url(http://www.mercedes-benz.de/img/gridVert.gif) repeat-y bottom; }
a.txt-lnk,a.txt-lnk:visited,a.txt-lnk:active	{padding-left:11px; padding-right:11px; background:   url(http://www.mercedes-benz.de/img/link_arrow.gif) no-repeat 1px 5px; text-decoration:none; color:#527BB9; display: block; }
