
<!DOCTYPE html
  PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript" src="resources/javascript/bai_basic.js"></script>
<script type="text/javascript" src="resources/javascript/MSFlyoutClass.js"></script>
<script type="text/javascript" src="resources/javascript/navigation.js"></script>
<link rel="stylesheet" type="text/css" href="resources/css/bai_frame.css"
	media="screen">
<link rel="stylesheet" type="text/css" href="resources/css/language.css"
	media="screen">
<script type="text/javascript" src="resources/javascript/language_config.js"></script>
<script type="text/javascript" src="resources/javascript/language.js"></script>
<title>İnteraktif İşletme Talimatı [w204]</title>
</head>
<body class="ms-ng-facelift">
	<div id="ms-header">
		<div id="ms-mb-logo">
			<table cellpadding="0" cellspacing="0" border="0">
				<tr>
					<td><img src="pictures/bildmarke.gif" alt=""></td>
				</tr>
			</table>
		</div>
		<div id="ms-mb-brandhead">
			<table border="0" align="right" cellpadding="0" cellspacing="0">
				<tr>
					<td><img src="pictures/bai_headline.png" width="370"
						height="50" alt="İnteraktif İşletme Talimatı"></td>
				</tr>
			</table>
		</div>
		<div id="ms-navi-home">
			<ul class="ms-navi">
				<li></li>
			</ul>
		</div>
		<div id="ms-navi-meta">
			<ul class="ms-navi">
				<li class="ms-navi-last-li mbhome"><a
					href="http://www.mercedes-benz.com" target="_blank">Mercedes-Benz
				</a></li>
				<li id="techcenter_top" class="ms-navi-last-li"><a
					href="http://techcenter.mercedes-benz.com/de_TR/" target="f1"
					onclick="var neww = window.open('http://techcenter.mercedes-benz.com/de_TR/', '', 'left=20,top=20,toolbar=0,scrollbars=0,location=0,resizable=1,menubar=0,width=1024,height=600'); if(neww){neww.focus()}; return false;"><span>TechCenter</span></a></li>
				<li id="contact_top" class="ms-navi-last-li"><a
					href="contact/contact_tr.html" target="f1"
					onclick="var neww = window.open('contact/contact_tr.html', '', 'left=20,top=20,toolbar=0,scrollbars=1,location=0,resizable=0,menubar=0,width=440,height=550'); if(neww){neww.focus()}; return false;"><span>İletişim</span></a></li>
			</ul>
		</div>
		<div id="ms-navi-main">
			<ul class="ms-navi">
				<li id="header_startpage"><script type="text/javascript">new MSFlyout("header_startpage", MSFlyout.TYPE_CORENAV1)</script><a
					href="flash8.html">Başlangıç Sayfası</a></li>
				<li id="header_indepth" class="ms-active"><script
						type="text/javascript">new MSFlyout("header_indepth", MSFlyout.TYPE_CORENAV2)</script><a
					href="#">Detaya İnmek</a></li>
			</ul>
		</div>
	</div>
	<div id="bai-modelmenu">
		<ul>
			<li class="bai-modelmenu-start">&nbsp;</li>
			<li id="tab_in-depth"><a
				href="manual_base.shtml?id=../cars/204/tr/in-depth/index_start.shtml&amp;part=in-depth">İşletme
					Talimatı</a></li>
			<li id="tab_comand-online"><a
				href="manual_base.shtml?id=../hu_cars/NTG4_5_ECE/tr/comand-online/index_start.shtml&amp;part=comand-online">COMAND
					Online</a></li>
			<li id="tab_audio20"><a
				href="manual_base.shtml?id=../hu_cars/NTG4_5_ECE/tr/audio20/index_start.shtml&amp;part=audio20">Audio
					20</a></li>
		</ul>
	</div>
	<div id="body-iframe-div">
		<script type="text/javascript">
                	var current_language="tr"
                	writeIFrame();
                	setActiveTab();
                	<div id="bai-content-iframe">
            		<div id="bai-content">
            			<div class="topmarker">
            				<a id="topmarker" name="top"></a>
            			</div>
            			<div id="index-space"></div>
            			<div class="index_table_div">
            				<table class="index_table" cellpadding="0" cellspacing="0">
            					<tbody>
            						<tr>
            							<td class="tableBGwhite" valign="top">
            								<div class="tableQuoteL0">12 tuşlu çok fonksiyonlu
            									direksiyon simidi</div>
            							</td>
            							<td class="tableBGwhite" valign="top">&nbsp;</td>
            						</tr>
            						<tr>
            							<td class="tableBGwhite">
            								<div class="tableQuoteL1">Araç bilgisayarının kullanımı</div>
            							</td>
            							<td class="tableBGwhite">
            								<div class="indexlink">
            									<a href="d2388e49720.shtml#ID_60492f077c85fbbb351f19157c38b21b">Göstergeler
            										ve Kullanım (12 Tuşlu Çok Fonksiyonlu Direksiyon Simidi)</a>
            								</div>
            							</td>
            						</tr>
            						<tr>
            							<td class="tableBGwhite">
            								<div class="tableQuoteL1">Genel bakış</div>
            							</td>
            							<td class="tableBGwhite">
            								<div class="indexlink">
            									<a href="d2388e3133.shtml#ID_08c6e43098d63dfa351f191535bd3de4">Çok
            										Fonksiyonlu Direksiyon Simidi</a>
            								</div>
            							</td>
            						</tr>
            					</tbody>
            				</table>
            				<table class="index_table" cellpadding="0" cellspacing="0">
            					<tbody>
            						<tr>
            							<td class="tableBGgrey" valign="top">
            								<div class="tableQuoteL0">12&nbsp;voltluk priz</div>
            							</td>
            							<td class="tableBGgrey" valign="top">
            								<div class="indexlink">
            									<a href="d2388e75894.shtml#ID_6eea45cc67123907351f1915765b87d6">Yararlı
            										Bilgiler</a>
            								</div>
            							</td>
            						</tr>
            					</tbody>
            				</table>
            			</div>
            		</div>
            	</div>
           
                	</script>
	</div>
	<div id="ms-footer">
		<p id="ms-mb-font">
			<img src="pictures/dummy.gif" alt="Mercedes-Benz" width="10"
				height="26">
		</p>
		<div id="ms-navi-footer">
			<dl class="ms-navi">
				<dd>
					<ul class="ms-navi">
						<li id="language_menu_off" class="language_list"><a href="#"
							id="footer_language" class="language_link"
							onClick="return clickreturnvalue()"
							onMouseover="dropdownmenu(this, event, menu1, '')"
							onMouseout="delayhidemenu()">Dili Değiştir</a></li>
						<li><a href="sitemap.html">Site Haritası</a></li>
						<li><a href="provider/provider_tr.html" target="f1"
							onclick="var neww = window.open('provider/provider_tr.html', '', 'left=20,top=20,toolbar=0,scrollbars=1,location=0,resizable=0,menubar=0,width=440,height=550'); if(neww){neww.focus()}; return false;">©
								2013. Daimler AG</a></li>
						<li><a href="cookies/cookies_tr.html" target="f1"
							onclick="var neww = window.open('cookies/cookies_tr.html', '', 'left=20,top=20,toolbar=0,scrollbars=1,location=0,resizable=0,menubar=0,width=440,height=550'); if(neww){neww.focus()}; return false;">Çerezler</a></li>
						<li><a href="privacy/privacy_tr.html" target="f1"
							onclick="var neww = window.open('privacy/privacy_tr.html', '', 'left=20,top=20,toolbar=0,scrollbars=1,location=0,resizable=0,menubar=0,width=440,height=550'); if(neww){neww.focus()}; return false;">Veri
								Gizliliği</a></li>
						<li class="ms-navi-last-li"><a
							href="disclaimer/disclaimer_tr.html" target="f1"
							onclick="var neww = window.open('disclaimer/disclaimer_tr.html', '', 'left=20,top=20,toolbar=0,scrollbars=1,location=0,resizable=0,menubar=0,width=440,height=550'); if(neww){neww.focus()}; return false;">Yasal
								Uyarılar</a></li>
					</ul>
				</dd>
			</dl>
		</div>
	</div>
</body>
</html>